<div class="container">

  <div class="post-details">
    <div class="post-header">
      <div>
        <h1> {{negotiation.post_id.title}} </h1>

      </div>
    </div>

    <div class="post-reqs">
      <div class="left-side-reqs">
        <div class="req-title">Contract Type : <span class="req-data"> {{negotiation.post_id.typeOfEmployment || 'N/A'}}
          </span>
        </div>
        <div class="req-title">Education : <span class="req-data">{{negotiation.post_id.levelOfStudy || 'N/A'}}</span>
        </div>
        <div class="req-title">Experience : <span
            class="req-data">{{negotiation.post_id.experienceLevel || 'N/A'}}</span></div>
        <div class="req-title">Salary : <span class="req-data">{{negotiation.post_id.salary || 'N/A'}}</span></div>
      </div>

      <div class="right-side-reqs">
        <div class="req-title">Language : <span class="req-data">{{negotiation.post_id.language || 'N/A'}}</span></div>
        <div class="req-title">Available Positions : <span
            class="req-data">{{negotiation.post_id.numberOfAvailablePositions || 'N/A'}}</span></div>
        <div class="req-title">Posted Date : <span
            class="req-data">{{negotiation.post_id.dateOfCreation | date:'mediumDate' || 'N/A'}}</span></div>
        <div class="req-title">Expiration Date : <span
            class="req-data">{{negotiation.post_id.dateOfExpiration || 'N/A'}}</span>
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="post-description">
      <h2>Description</h2>
      <div class="divider">
        <p-divider></p-divider>
      </div>

      <div class="description" [innerHTML]="negotiation.post_id.description">

      </div>
    </div>
  </div>

  <div class="negotiation">
    <div class="negotiation-header">
      <div class="status">
        <div class="status-title">Status</div>
        @switch (negotiation.status) {
        @case ("PENDING") {
        <div class="status-data">
          <p-tag severity="warning" value="Pending"></p-tag>
        </div>
        }
        @case ("REJECTED") {
        <div class="status-data">
          <p-tag severity="danger" value="Rejected"></p-tag>
        </div>
        }
        @case ("ACCEPTED") {
        <div class="status-data">
          <p-tag severity="success" value="Accepted"></p-tag>
        </div>
        }
        @case ("PENDING_USER_CONFIRMATION") {
        <div class="status-data">
          <p-tag severity="info" value="Pending User Confirmation"></p-tag>
        </div>
        }
        @case ("PENDING_COMPANY_CONFIRMATION") {
        <div class="status-data">
          <p-tag severity="info" value="Pending Company Confirmation"></p-tag>
        </div>
        }

        }
      </div>
      <div class="applied-date">
        <div class="applied-date-title">Applied Date :</div>
        <div class="applied-date-data"> {{negotiation.creationDate| date:'mediumDate' || 'N/A'}} </div>
      </div>
    </div>

    @if (negotiation.status == "PENDING" || negotiation.status == "REJECTED"){
    <div class="negotiation-body-pending-rejected">
      @if (negotiation.status == "PENDING") {
      <div class="waiting-response">
        <h2>Waiting For The Company's Response</h2>
      </div>
      }
      @if (negotiation.status == "REJECTED") {
      <!-- TODO : Add a functionality that when company rejects the user can’t re-apply -->
      <div class="waiting-response">
        <h2 style="color: rgb(240, 183, 183);">Your applications has been rejected</h2>
      </div>
      }
    </div>
    }


    @if (negotiation.status == "PENDING_USER_CONFIRMATION") {
    <p-divider></p-divider>
    <div class="negotiation-body">
      <div class="company-suggestion">
        <div class="small-title">
          Company's Suggestions
        </div>
        <div class="infos">
          <div class="date-of-interview">
            <div class="title">Date Of The Interview</div>
            <div class="data"> {{negotiation.dateFromTheCompany.when | date:'mediumDate' }} </div>
          </div>
          <div class="place-of-interview">
            <div class="title">Place Of The Interview</div>
            <div class="data">{{negotiation.dateFromTheCompany.where || 'N/A'}}</div>
          </div>
          <div class="link">
            <div class="title">Link</div>
            <input type="text" pInputText [value]="negotiation.link" readonly />
          </div>
        </div>
        <div class="additional-info">
          <div class="additional-info-data">
            <p-editor [readonly]="true" [(ngModel)]="additionalInfoCompany" [style]="{ height: '320px' }">
              <ng-template pTemplate="header">
                <div class="additional-info-title">Additional Informations</div>
              </ng-template>
            </p-editor>
          </div>
        </div>
      </div>
      <p-divider></p-divider>

      <div class="company-suggestion">
        <div class="small-title">
          User's Suggestions
        </div>
        <div class="infos">
          <div class="date-of-interview">
            <div class="title">Date Of The Interview</div>
            <div class="data">
              <!-- TODO : add ngModel -->
              <p-calendar></p-calendar>
            </div>
            <!-- <div class="data">{{negotiation.dateOfInterview | date:'mediumDate' || 'N/A'}}</div> -->
          </div>
          <div class="place-of-interview">
            <div class="title">Place Of The Interview</div>
            <div class="data">
              <!-- TODO : add ngModel -->
              <p-dropdown [options]="[{name : 'Online', code : 'online'},{name : 'On Site', code : 'onsite'}]"
                optionLabel="name" [showClear]="true" placeholder="Select Place"></p-dropdown>
            </div>
          </div>
          <!-- <div class="link">
            <div class="title">Link</div>
            <input type="text" pInputText [value]="negotiation.link" readonly />
          </div> -->
        </div>
        <div class="additional-info">
          <div class="additional-info-title">Additional Informations</div>
          <div class="additional-info-data">
            <p-editor [(ngModel)]="additionalInfoCompany" [style]="{ height: '320px' }">

            </p-editor>
          </div>
        </div>
      </div>
      <div class="btns">
        <p-confirmPopup></p-confirmPopup>
        <button pButton pRipple label="Accept" (click)="confirmAccept($event)" tooltipStyleClass="toolta" tooltipPosition="top" pTooltip="Confirm The Company's Suggestions" class="p-button-success"></button>
        <button pButton pRipple label="Suggess" (click)="confirmSuggest($event)" tooltipStyleClass="tooltip-suggest" tooltipPosition="right" pTooltip="Request For Changes" class="p-button-info"></button>
      </div>
    </div>
    }













  </div>
</div>
