.container {
  display: flex;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  gap: 2%;

}

.post-details {
  background-color: #121212;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 45vw;
  overflow: auto;
  flex-basis: 45vw;
  height: fit-content;

}

.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.post-reqs {
  display: flex;
  gap: 3%;
}

.req-title {
  color: #C0DCED;
  margin-bottom: 5%;
  font-weight: 700;
}

.req-data {
  color: #fff;
  font-weight: 400;
}

.left-side-reqs,
.right-side-reqs {
  flex-basis: 18vw;
}

.divider {
  width: 11vw;
}

.description {
  word-wrap: break-word;
}



/* NEGOTIATION  */

.negotiation {
  flex-basis: 55vw;
  background-color: rgb(52, 61, 68);
  border-radius: 19px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.negotiation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.negotiation-header .status {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}


.applied-date {
  display: flex;
  gap: 9%;
  width: 13vw;
}

.applied-date-data {
  font-weight: 700;
}

.negotiation-body-pending-rejected {
  display: flex;
  place-content: center;
}

/* PENDING USER CONFIRMATION */
.negotiation-body {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: flex-start;
}

.company-suggestion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.small-title , .additional-info-title{
  color: #C0DCED;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
}

.infos{
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: 3% 0 3% 0;
}

.date-of-interview{
  flex-basis: 33vw;
}
.place-of-interview{
  flex-basis: 33vw;
}
.link{
  flex-basis: 33vw;
}

.infos .title{
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}


/* BUTTONS  */

.btns{
  display: flex;
  gap: 2%;
  margin-top: 2%;
  justify-content: flex-start;
  width: 100%;
}

::ng-deep .toolta .p-tooltip-text {
  width: 322px;
}
::ng-deep .tooltip-suggest .p-tooltip-text {
  width: 200px;
}