.post-details {
    background-color: #121212;
    margin-top: 2%;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
  }
  
  .post-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
  }
  
  .post-reqs{
    display: flex;
    gap: 3%;
  }
  
  .req-title{
    color: #C0DCED;
    margin-bottom: 5%;
    font-weight: 700;
  }
  
  .req-data{
    color: #fff;
    font-weight: 400;
  }
  .left-side-reqs, .right-side-reqs{
    flex-basis: 17vw;
  }
  .divider{
    width: 11vw;
  }
  .description{
    word-wrap: break-word;
  }




  /* ########### ADD  ########## */

  .add-header{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3%;
    color: #C0DCED;
    font-weight: 700;
    font-size: larger;
  }
  .requirements{
    display: flex;
    gap: 5%;
    flex-direction: column;
  }

  .left-requirements .p-float-label, .right-requirements .p-float-label{
    margin-bottom: 50px;
  }

  .upper-requirements, .lower-requirements{
    display: flex;
    gap: 5%;
    justify-content: flex-start;
    
  }

  .upper-requirements{
    gap: 6%;
  }

  .lower-requirements{
    margin-top: 5%;
  }

  p-dropdown{
    width: 13%;
  }

  ::ng-deep .sexe .p-dropdown{
    width: 102%;
  }

  .editor{
    width: 70vw;
  }

  .btn-add{
    width: fit-content;
    margin: 1% auto;
  }

  .input-name{
    margin-bottom: 20px;
  }

  ::ng-deep .listbox{
    overflow: auto;
    width: 15rem;
    height: 200px;
  }