<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/">HOME</a>
  </div>
  <div class="navbar-middle">
    <img src="/assets/Logo_JOBS.png" alt="JOBS_LOGO">
  </div>
  <div class="navbar-right">
    <p-avatar image="http://localhost:3000/assets/profile-pics/{{user.profilePic}}" styleClass="mr-2" size="normal"
      (click)="menuAvatar.toggle($event)" shape="circle"></p-avatar>
    <p-menu #menuAvatar [model]="items" [popup]="true" class="menu"></p-menu>

    <p-avatar icon="pi pi-bell" pBadge [value]="notifCount" styleClass="mr-2" size="large" (click)="notifs.toggle($event)"></p-avatar>
    <!-- <p-menu #notifications [model]="items" [popup]="true" class="menu"></p-menu> -->
    <p-overlayPanel #notifs>
      <ng-template pTemplate="content">
        <div class="notif-container">
          @if (notifications.length ==0) {
            There are no notifications.
          }@else {
            @for (notif of notifications; track $index) {
              <div class="one-notif">
                <div class="left-notif">
                  <div class="name"> {{notif.user.name}}</div>
                  <div class="message">{{notif.message}} </div>
                  <div class="date">{{notif.createdAt | date:'MMM d, y, h:mm a'}} </div>
                </div>
                <div class="right-notif">
                  <img src="/assets/notif-icons/new_applicant.svg" alt="new_applicant">
                  <p-tag value="New" severity="success" [rounded]="true"></p-tag>
                </div>
              </div>
              <p-divider></p-divider>
            }
            
          }
        </div>
      </ng-template>
    </p-overlayPanel>
  </div>
</nav>
<p-toast></p-toast>


<router-outlet></router-outlet>
