.container {
  display: flex;
  width: 100%;
  gap: 5%;
}

.company-details {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 19px;
  padding: 2%;
  position: fixed;
  height: 76vh;
  width: 21vw;
}

.company-details .header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.logo img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  margin-bottom: 10px;
}

.company-name {
  font-size: .7rem;
  color: #fff;

}

.company-infos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 4%;
  gap: 15px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.info .info-text,
.info a {
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
}

.info-logo {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}


/* POST DETAILS */

.post-details {
  background-color: #121212;
  margin-left: 25vw;
  margin-top: 2%;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 73vw;
}

.post-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2%;
}

.post-reqs{
  display: flex;
  gap: 3%;
}

.req-title{
  color: #C0DCED;
  margin-bottom: 5%;
  font-weight: 700;
}

.req-data{
  color: #fff;
  font-weight: 400;
}
.left-side-reqs, .right-side-reqs{
  flex-basis: 17vw;
}
.divider{
  width: 11vw;
}
