<ng-scrollbar style="height: 91vh;" thumbClass="scrollbar">
<div class="container">
  <p-dataView #dv [value]="posts" [rows]="10" [paginator]="true" [sortField]="sortField" [sortOrder]="sortOrder" filterBy="title" >
    <ng-template pTemplate="header">
      <div>
          <p-dropdown [options]="sortOptions" placeholder="Sort By Applicants" (onChange)="onSortChange($event)"></p-dropdown>
          <span class="p-input-icon-left" id="searchInput">
            <i class="pi pi-search"></i>
            <input  type="text" pInputText [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="Seach by post title" />
        </span>
      </div>
      
  </ng-template>
    <ng-template let-post pTemplate="listItem">
      <div class="card">
        <div class="company-info">
          <div class="logo">
            <img src="http://localhost:3000/assets/profile-pics/{{post.company.profilePic}}" alt="company_logo">
            <h3 class="company-name">{{post.company.name}}</h3>
          </div>
        </div>

        <div class="post-info">
          <div class="post-header">
            <div class="post-title">
              {{post.title}}
            </div>
            <div class="date-of-creation">
              Posted : {{post.dateOfCreation | date:'mediumDate'}}
            </div>
          </div>
          <div class="post-body">
            <div class="chips">
              <p-chip label="{{post.experienceLevel || 'N/A'}}">
                <img alt="school icon" src="/assets/chips-icons/work.svg">
              </p-chip>
              <p-chip label="{{post.levelOfStudy || 'N/A'}}">
                <img alt="school icon" src="/assets/chips-icons/school.svg">
              </p-chip>
              <p-chip label="{{post.salary || 'N/A'}}">
                <img alt="school icon" src="/assets/chips-icons/salary.svg">
              </p-chip>
            </div>
            <div class="post-description" [innerHTML]="post.description">

            </div>
          </div>

          <div class="post-footer">
            <div class="available-positions">
              Available Positions : {{post.numberOfAvailablePositions}}
            </div>

            <div class="applicants-count">
              Applicants : {{post.applicants}}
            </div>
          </div>
        </div>

        <div class="post-button">
          <button (click)="show(post)" pButton pRipple label="Read more" class="p-button-success"></button>
          <!-- <button routerLink="../post/{{post._id}}" pButton pRipple label="Read more" class="p-button-success"></button> -->
        </div>
      </div>

    </ng-template>
  </p-dataView>

</div>
</ng-scrollbar>